<section id="bettini-header">
  <div class="container">
    <div class="row">
      <div class-"col-lg-10 col-lg-offset-2">
        <h1 class="text-center">VXrs - Paolo Bettini Edition</h1>
      </div>
    </div>
  </div>
</section>
<section id="bettini-main">
  <div class="container">
    <div class="row">
      <div class-"col-lg-10 col-lg-offset-2">
        <%= image_tag 'Bettini-frame.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
<section id="bettini-description">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-2">
      <%= image_tag 'bettini-signature.png', class: 'img-responsive' %>
      <h1 class="text-center">001 - 300</h1>
      <p style="padding:0 30px;">Only 300 VXrs - Bettini Special Editions will be made worldwide, all numbered with Paolo's signature and the world champion stripes.</p>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
      <p>This is the same frame that carried Paolo Bettini to Olympic Gold in 2004. And also the same frame Tom Boonen rode to numerous victories in 2005 including the World Road Race Championships,  the Tour of Flanders and Paris-Roubaix.</p>

      <p>Even by today's standards, the VXrs is still highly regarded,  possessing the most desired qualities in a frame: lightness, stiffness and comfort. These qualities exist in every modern frame but TIME finds the perfect balance between all three, delivering the quintessential ride.</p>

      <p>Each frame bears the World Champion stripes commemorating Bettini's 2006 and 2007 World Road Race Championships victories, Bettini's signature and is numbered 1 to 300.</p>

      <p>Like all TIME frames, the VXrs is 100% made in France.</p>

    </div>
  </div>
</div>
</section>