<section id="dealer-top">
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">

    </div>

  </div>

</div> -->
</section>


<section id="dealers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>TIME Sport Dealers</h1>
        <p>Our dealers are as passionate as we are when it comes to our frames, bicycles and pedals. To get the very best selection and service for TIME bicycles and pedals we recommend these shops.</p>

        <p>You can find our pedals at most bike shops in your area. Please check with your local bike shop for TIME Xpresso and ATAC availabilty and selection.</p>

        <p>If you are interested in becoming a TIME dealer please <a href="mailto:trentp@timesportusa.com">contact us</a></p>

      </div>
     
    </div>

    <div class="row">
       <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>CONTENDER BICYCLES</strong><br />
          989 East 900 South<br />
          Salt Lake City, UT  84105<br />
          <a href="http://contenderbicycles.com/">contenderbicycles.com</a><br />
          801.364.0344
        </p>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>R &amp; A CYCLES</strong><br />
          105 5th Avenue<br />
          Brooklyn, NY 11217<br />
          <a href="http://www.racycles.com">www.racycles.com</a><br />
          718.473.0285
        </p>
      </div>
       <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>VELO PASADENA</strong><br />
          2562 East Colorado Boulevard<br />
          Pasadena, CA  91107<br />
          <a href="http://www.velopasadena.com/">www.velopasadena.com</a><br />
          626.304.0064
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>LEUCADIA CYCLERY</strong><br />
          823 North Vulcan Avenue<br />
          Leucadia, CA  92024<br />
          <a href="http://www.leucadiabikes.com/">www.leucadiabikes.com</a><br />
          760.436.2786
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>ATA CYCLES</strong><br />
          93 Thoreau Street<br />
          Concord, MA 01742<br />
          <a href="http://www.atabike.com">www.atabike.com</a><br />
          978.369.5960
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>RIVER CITY BICYCLES</strong><br />
          706 SE MLK Boulevard<br />
          Portland, OR 97214<br />
          <a href="http://www.rivercitybicycles.com">www.rivercitybicycles.com</a><br />
          503.233.5573
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>ALL 4 CYCLING</strong><br />
          1430 S Dixie Hwy #104<br />
          Miami, FL  33146<br />
          <a href="http://all4cycling-usa.com/">all4cycling-usa.com</a><br />
          305.666.5555
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>WRENCH SCIENCE, INC.</strong><br />
          1022 Murray Street<br />
          Berkeley, CA 94710<br />
          <a href="http://www.wrenchscience.com/">www.wrenchscience.com</a><br />
          866.497.3624
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>Studio Velo</strong><br />
          31 Miller Avenue<br />
          Mill Valley, CA 94941<br />
          <a href="http://www.studiovelocycling.com/">www.studiovelocycling.com</a><br />
          866.497.3624
        </p>
      </div>



      






      </div>


    </div>


</section>

<%= render 'shared/social-section' %>



