<section id="dealer-top">
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">

    </div>

  </div>

</div> -->
</section>


<section id="dealers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>TIME Sport Dealers</h1>
        <p>Our dealers are as passionate as we are when it comes to our frames, bicycles and pedals. To get the very best selection and service for TIME bicycles and pedals we recommend these shops.</p>

        <p>You can find our pedals at most bike shops in your area. Please check with your local bike shop for TIME Xpresso and ATAC availabilty and selection.</p>

        <p>If you are interested in becoming a TIME dealer please <a href="mailto:trentp@timesportusa.com">contact us</a></p>
      </div>
      <div class="col-lg-6" id="dealer-list">
        <p>
          <strong>CONTENDER BICYCLES</strong><br />
          989 East 900 South<br />
          Salt Lake City, UT  84105<br />
          <a href="http://contenderbicycles.com/">http://contenderbicycles.com/</a>
          801.364.0344
        </p>
        <p>
          <strong>VELO PASADENA</strong><br />
          2562 East Colorado Boulevard<br />
          Pasadena, CA  91107<br />
          <a href="http://www.velopasadena.com/">http://www.velopasadena.com/</a><br />
          626.304.0064
        </p>
        <p>
          <strong>VELO STUDIO</strong><br />
          3200 Los Feliz Boulevard<br />
          Los Angeles CA 90039<br />
          <a href="http://www.velopasadena.com/">http://www.velopasadena.com/</a><br />
          323.486.7588
        </p>
        <p>
          <strong>LEUCADIA CYCLERY</strong><br />
          823 North Vulcan Avenue<br />
          Leucadia, CA  92024<br />
          <a href="http://www.leucadiabikes.com/">http://www.leucadiabikes.com/</a><br />
          760.436.2786
        </p>
        <p>
          <strong>ALL 4 CYCLING</strong><br />
          1430 S Dixie Hwy #104<br />
          Miami, FL  33146<br />
          <a href="http://all4cycling-usa.com/">http://all4cycling-usa.com/</a><br />
          305.666.5555
        </p>


      </div>
    </div>


</section>

<p></p>



