<section id="first-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'first-logo.png', class: 'img-responsive' %>

        <p class="lead">
          <br />The TIME FIRST. Classic styling, sharing DNA from the Fluidity with a stiffer rear triangle for riders who like to ride long and fast. The FIRST is built from the same production process – Resin Transfer Molding – as the Skylon, Izon and Fluidity. Carbon weave from the thread, hand-cut and fitted dry carbon 'socks' over wax molds, tied and stitched together then adding resin to make the whole frame work as one, giving you the ultimate ride. </p>

          <p class="lead">The TIME FIRST is 100% Made in France by the hands of people who love bikes just as much as you do.</p>

          <p class="text-center"><strong>SALE PRICE: $2899</strong> MSRP: $3999</p>
        
        <%= link_to 'Shop Now', 'http://store.contenderbicycles.com/2015-time-first-ultegra-bike/dp/1000001374', onclick: "trackOutboundLink(‘http://store.contenderbicycles.com/2015-time-first-ultegra-bike/dp/1000001374’);", class: 'btn btn-danger btn-lg', style: 'margin:0 auto;display:block;border-radius:10px;width:50%;' %>

      </div>
    </div>
  </div>

</section>

<section id="first-specs">
  <div class="container">
    <div class="row">
      <h1 class="text-center" style="border-bottom:1px solid #d2232a;margin-bottom:20px;padding-bottom:20px;">FIRST Components</h1>

      <div class="col-md-6" style="padding-right:10px;">
        <table class="table">
          <tr>
            <td style="border-top:0px solid white;">Shimano Ultegra 6800 11-Speed Groupset</td>
          </tr>
          <tr>
            <td>Shimano Ultegra Wheelset featuring Zipp Tangente Course 700x23c Tires</td>
          </tr>
          <tr>
            <td>Zipp Service Course Setback Alloy Seatpost</td>
          </tr>
          <tr>
            <td>Zipp Service Course Alloy Stem +/- 6deg</td>
          </tr>          
        </table>
      </div>
      <div class="col-md-6" style="padding-left:10px;">
        <table class="table">
          <tr>
            <td style="border-top:0px solid white;">Zipp Service Course 70 Ergo Alloy Bar</td>
          </tr>
          <tr>
            <td>Prologo Nago EVO Saddle</td>
          </tr>
          <tr>
            <td>Zipp Service Course Bartape</td>
          </tr>
          <tr>
            <td></td>
          </tr>          
        </table>
      </div>
    </div>
  </div>
</section>

<section id="first-gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" style="min-height:800px;background-image:url(/assets/pics-IMG_2401.jpg);background-size:cover;"><%#= image_tag 'pics-IMG_2401.jpg', class: 'img-responsive' %></div>
      <div class="col-md-8" style="min-height:800px;background-image:url(/assets/pics2-IMG_2375.jpg);background-size:cover;background-position-x:70%;"><%#= image_tag 'pics2-IMG_2375.jpg', class: 'img-responsive' %></div>
      
    </div>

  </div>


</section>


<section id="first-geo">
  <div class="container">
    <div class="row">
      <h1 class="text-center" style="margin-bottom:20px;padding-bottom:20px;">FIRST Geometry</h1>
      <div class="col-md-5">
        <%= image_tag 'TIME-2015-geometry.png', class: 'img-responsive center-it' %>
      </div>
      <div class="col-md-7">
        <%= render 'shared/fluidity_geo_grid.html.erb' %>
      </div>
    </div></div>
  
</section>