<section id="rtm-intro">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <%= image_tag 'rtm-logo-white.png', class: 'img-responsive' %>
      <p>RTM (Resin Transfer Molding) is the heart and soul of every TIME frame. It allows us to create lighter and more resilient carbon fiber frames. And since this process is done all in house, we control every aspect of the fiber weave, the tubes, the frame and ultimately, the ride. TIME is the only bicycle manufacturer to produce frames using the RTM process. Of course, Made in France.</p>

      <h3 class="text-center">
        <a href="#rtm-weaving" class="scroll-btn white-links"><span class="fa fa-chevron-circle-down "></span> Learn more about RTM</a>

      </h3>
    </div>
  </div>
</div>

</section>

<section id="rtm-made-in-france">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
     <!--  <iframe width="100%" height="600" src="https://www.youtube.com/embed/Zb8HByxWkFQ" frameborder="0" allowfullscreen></iframe> -->
     <h2 class="text-center">Made in France</h2>
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zb8HByxWkFQ"></iframe>
</div>


    </div></div>
</div>

</section>


<section id="rtm-weaving">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5">
        <%= image_tag 'DSC_7960-carbon-weaver.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-lg-6  col-md-7"><h3>Weaving</h3>
        <p>We start with a carbon fiber to weave our own carbon fabric. While others source their carbon sheets, we create our own tubes, allowing us to determine the angles of the braids and even introduce other types of fibers, such as VECTRAN®, to determine the exact qualities of the ride and feel of the bicycle.</p>

        <h4>Masting the angles of the fibers</h4>
        <p>(Varying from 0° to ± 65°): the “bi-directional” braids have an angle varying from 15° to 65° for a more efficient torsion, whereas the “uni-directional” braids have an angle of 0° being used only for flexion.</p> 

        <h4>Better Resistance to Cracking</h4>
        <p>Linked mechanically by the weaving process, every fiber crossed constitutes a barrier against cracking. This is particularly important in the areas that are drilled (ex: bottle cage)</p>

        <h4>Non-shattering braids</h4>
        <p>In the case of material breaking after a serious crash for example, woven structures are able to avoid the risk of additional injury from shattered pieces, which is a unique characteristic of unidirectional braids.
        </p>
      </div>
    </div>

  </div>

</section>

<section id="rtm-resin-injection">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3>Resin Injection</h3>
<p>Contrary to the prepreg technique, TIME uses a “liquid” molding technology, RTM (Resin Transfer Molding).</p>

<p>This refers to the injecting of a heat-hardening, epoxy resin under pressure in a metallic mold. This mold incorporates all of the reinforcing elements of the composite material. Upon infusing this structure, the resin becomes the bonding unit of the structure.</p>

<p><strong>Excellent impregnation of the fibers,</strong> including the most complex areas thanks to the injection under-pressure and to the temperature used.</p>

<p><strong>Perfect cohesion of the layers,</strong> thanks to the RTM molding that allows to surpass the compression of the structure which is a particularly delicate stage and not able to be reproduced with the prepreg process.</p>

<p><strong>Guaranteed geometries and thicknesses,</strong> through the molding procedure carried out on rigid structures that does not require the movement of any fibers during the process.
</p>
<p><strong>Freedom of form</strong> in molding since the suppleness of the woven structure allows complex forms to be put into practice.</p>

<p>The RTM system is easily industrialized, guaranteeing an overall homogeneous and consistent production.</p>

      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <%= image_tag 'readyforresin.jpeg', class: 'img-responsive' %>
        
      </div>
    </div>
  </div>

</section>

<section id="rtm-finish" class="hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
     <%#= image_tag 'rtm-headtube.jpg', class: 'img-responsive' %>


      </div>

    </div>

  </div>

</section>