<section id="email-subscription">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1>Sign Up!</h1>
        <p>Get the latest news from TIME Sport USA. You'll be the first to know about our bikes, pedals, accessories, special offers and events. You may even learn a little French!</p>

      </div>
      <div class="col-lg-7" id="subscribe-form">
        

        <form action="http://mostlyclicksinc.createsend.com/t/r/s/ityklyt/" method="post" class="form-inline">
          <div class="form-group">
            <label for="fieldName" class="sr-only">Name</label>
            <input id="fieldName" name="cm-name" type="text" class="form-control input-lg" placeholder="Full Name (optional)" />
          </div>

          <div class="form-group">
            <label for="fieldEmail" class="sr-only">Email</label>
            <input id="fieldEmail" name="cm-ityklyt-ityklyt" type="email" class="form-control input-lg" placeholder="Enter Email" required />
          </div>

            <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>

        </form>

      </div>
    </div>
  </div>


</section>

<section id="social-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center social-item">
        <a href="https://www.facebook.com/timesportusa"><span class="fa fa-facebook-square fa-5x"></span></a>
        <h3>Like us on Facebook</h3>
        <p>Stay up to date on the latest news, promotions and events from TIME Sport USA.<br />
          <a href="https://www.facebook.com/timesportusa">facebook.com/timesportusa</a></p>
      </div>
      <div class="col-md-4 text-center social-item">
        <a href="https://twitter.com/timesportusa"><span class="fa fa-twitter-square fa-5x"></span></a>
        <h3>Follow us on Twitter</h3>
        <p>Up to the minute tweets from cyclists we support plus the latest on TIME Sport news.<br />
          <a href="http://twitter.com/timesportusa">@timesportusa</a>
        </p>
      </div>
      <div class="col-md-4 text-center social-item">
        <a href="https://instagram.com/timesportusa"><span class="fa fa-instagram fa-5x"></span></a>
        <h3>Follow us on Instagram</h3>
        <p>Post your pictures of your TIME bikes and where you ride them. 
          Hash tag us: <strong>#timesportusa</strong> <strong>#timesport</strong>
        <a href="https://instagram.com/timesportusa">intsagram.com/timesportusa</a><br /></p>
      </div>
    </div>
  </div>
</section>


