@import 'base.css.scss';

// body {border-top:5px solid red;}
p.lead {font-size:18px;}
p {font-size:14px;}
section {padding:0px 0px;}
footer {padding:0 20px;}

//HOME
#top {
  min-height: 80vh;
  h1 {@include text-style(24px, 100, $time-red);text-align:center;}
  h2 {@include text-style(11px, 400, $time-red);text-transform:uppercase;}
  a {
    &:hover {text-decoration:none;}
    h2 {
     color:$black-med;
    }
    img {border:1px solid $black-light;}
  }
  h3 {@include text-style(14px, 200, $time-red);}
  .tri-nav {padding:0 5px;}
  @include background-style(130%, 50%, 100%, no-repeat);
  #top-made-in-france {
    img {margin:0 auto 12px auto;}
  }
}

#time-slice {
    background-image:url(/assets/TIME_slice.png);
    height:200px;
    width:100%;
    background-size: 100%;
    opacity:.8;
    position:absolute;
    top:51px;
    left:0;
    background-repeat: no-repeat;
  }

//HOME - MADE IN FRANCE
#made-in-france {
  min-height:80vh;

  position:relative;
  color:#fff;
  //background-image:url(made-in-france-p3.jpg);
  @include background-style(cover, 50%, -100px, no-repeat);
  .row {
    background-color:rgba(0,0,0,1);
    padding:0px 20px 20px 20px;
    position:absolute;
    bottom:0;
    p {@include text-style(11px, 200, $white-alpha7);padding-top:10px;}
    img {margin:10px auto 10px auto;}
    h1 {@include text-style(24px, 200, $time-red);text-align:center;text-transform:uppercase;}
    h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  }
}


//HOME - BIKE FEATURES
#bikes-frames-feature {
  padding-top:40px;
  min-height:60vh;
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  #home-bike-bg img {@include home-bike-feature(absolute, -1, 200px, 0px, nil, nil)};
  #home-bike-logo img {margin:0 auto;}
  #collection-link {postion:absolute;bottom:0;}
  .carousel-indicators {position:absolute;top:-10px;margin-bottom:20px;}
}

#bikes-frames {
  padding:40px 0;
  background-color:lighten($black-light, 60%);
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h2 {@include text-style(24px, 100, $black-med);text-align:center;}
  h3 {@include text-style(14px, 400, $time-red);text-align:center;margin-bottom:50px;}
  .row {margin-bottom:20px;}
  
}

//HOME - AKTIV
#aktiv {
  padding:40px 20px;
  @include gradient-bg(#000, #fff, 100%);//$start-color, $end-color, $gradient-point
  #aktiv-txt {
    p {@include text-style(14px, 200, $white-alpha7);}
    img {margin:0 auto;}
  }
}


//HOME - PEDALS
#pedals {
  h1 {
    color:#fff;
    text-shadow:0 0 5px rgba(0,0,0,.8);}
  padding:80px 0;
  background-image:url(clouds.jpg);
  background-size:cover;
  background-position-y:20%;
  // background-color:rgba(235,235,235,.1);

}


//LEVEL 2 BIKES
 // #l2-bike-features {
 //   padding:80px 10px;
 //   background-color:rgba(225,225,225,.1);
 //   h1 {@include header-style(48px, 100, $time-red);}
 //   h2 {@include header-style(56px, 700, $time-red);}
 //   img {
 //     border:5px solid rgba(0,0,0,.1);
 //     margin-bottom:15px;
 //   }
 //   .bike-feature {
 //     padding:20px;
 //   }

 // }
  .show {
   .container {padding:0 10px;}
   h1 {@include header-style(36px, 100, $time-red);}
 }
 #l2-bike {
  padding:20px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:200px;
  background-color:#fafafa;
  min-height:100vh;
  text-align:center;
  #bike-main-txt {
   //@extend .l2-main-txt;
   border-top:2px solid $time-red;
   img {
    margin:0 auto;
   }
 }
   h3 {
     @include header-style(20px, 100, $black-med);
     display:inline-block;
     margin:0 .25em;

     //@extend .l2-h3-xs;
   }
   .lead {
   @include text-style(16px, 200, $black-med);
     //@extend .l2-main-lead;
     text-align:left;
     padding:20px 0px;

   }
   #bike-img img {@include bike-hero-style(0px, 100%);}
 }

 #aktiv-choice {
  padding:40px 20px;
  p {@include text-style(16px, 200, $black-med);}
  #or h1 {
   display:block;
   font-size:35px;
   // font-weight:$light-weight;
   background-color:#000;
   color:$time-plasma;
   height:80px;
   width:80px;
   line-height:70px;
   margin:0 auto;
   border-radius:50%;
   border:3px solid lighten(#000, 50%);
   }
 }


 #what-is-aktiv {
   padding:20px 20px;
   background-image:url(AKTIV-bg.png);
   background-color:black;
   background-repeat:no-repeat;
   .padding-left {
     padding-left:30px;
   }
   h1 {
     margin-top:1em;
     @include header-style(30px, 100, $time-red);
   }
   p.lead {color:#fff;letter-spacing:.05em;}
   img {margin:10px auto 0px auto;}
   a {color:$time-red;}
 }

 #l2-bike-features {
   padding:80px 10px;
   background-color:rgba(225,225,225,.1);
   h1 {@include header-style(48px, 100, $time-red);}
   h2 {@include header-style(56px, 700, $time-red);}
   img {
     border:5px solid rgba(0,0,0,.1);
     margin-bottom:15px;
   }
   .bike-feature {
     padding:20px;
   }

 }

#l2-bike-gallery {
  padding:40px 0;
   h1 {@include header-style(48px, 100, $time-red);}
   img {margin:20px auto 40px auto;}
   .carousel-caption {
    color:darken($black-light, 80%) !important;
     padding-bottom:0px !important;
     bottom:-0px;
  }
 }


 #bettini-header, #bettini-main, #bettini-description {
   background-color:lighten(#000, 10%);
   h1 {@include header-style(48px, 100, rgba(255,255,255,.6))}
   h3 {@include header-style(24px, 100, $time-red)} 
  }

  #bettini-main {
   background:url(worldchamp-bg.gif) repeat-x lighten(#000, 7%);
   background-position-y:300px;
  }

  #bettini-description {
   padding:60px 20px;
   background-color:#000;
   h1 {@include header-style(56px, 100, #fff);border-top:1px solid rgba(255,255,255,.4);padding-top:.5em;}
   p {@include header-style(14px, 200, rgba(255,255,255,.7));}
  }

  #bettini-dealers {
    padding:40px;
    background-color:#fff;
    .dealer-list {margin-bottom:1em;}
    p.lead {@include header-style(16px, 200, rgba(0,0,0,.4));}
  }


  //AKTIV PAGE
  #aktiv-header {
   background-color:#000;

 }

 #aktiv-hero {
   position:relative;
   background-color:#121212;
   background-image:url('AKTIV-bg-2.jpg');
   background-size:cover;
   min-height:860px;
   #hero-txt {
     //padding-left:100px;
     position:absolute;
  
     padding:20px;
     top:0%;
     p {@include header-style(16px, 200, rgba(255,255,255,.6))}
     img {
       margin:0 auto;
     }
     h3 {@include header-style(24px, 100, rgba(255,255,255,1))}
   }
 }

 #aktiv-biker {
  .row {background:rgba(255,255,255,.7);}
   min-height:100vh;
   padding:20px;
   padding-bottom:40px;
   background-image:url(AKTIV-2-white.jpg);
   background-position-x:-800px;
   background-size:cover;
     p {
       @include header-style(16px, 200, rgba(0,0,0,.6));
       padding:10px;
     }
     h3 {@include header-style(24px, 100, rgba(0,0,0,1));
      padding:10px;
     }
     h2 {
      padding:10px;
     }
 }

 #aktiv-graph {
   padding:20px;
   background-color:#000;
   p {
       @include header-style(16px, 200, rgba(255,255,255,.6))
   }
   h3 {@include header-style(24px, 100, rgba(255,255,255,1))}
 }

 #aktiv-models {
   padding:80px 20px;
   h1 {@include header-style(30px, 100, #000)}
   h3 {@include header-style(12px, 200, $time-red)}
 }


//RTM PAGE
#rtm-intro {
   min-height:100vh;
   padding:80px 0px;
   background-image:url(rtm-bb-DSC_0194.jpg);
   background-size:cover;
   background-position-x:70%;
   background-position-y:0px;
   p {
       margin-top:20px;
       @include header-style(16px, 200, rgba(255,255,255,.8));
       background-color:rgba(0,0,0,.8);
       text-shadow:1px 1px 8px rgba(0,0,0,.5);
       padding:20px;
   }
   a {color:#fff;text-shadow:1px 1px 8px rgba(0,0,0,.2);}
 }

 #rtm-made-in-france {
  padding:20px 20px 60px 20px;
  background-color:rgba(0,0,0,.9);
  h2 {
    color:#fff;
  }
 }

 #rtm-weaving {
   padding:40px 20px;
   h3 {@include header-style(24px, 100, $time-red)}
   h4 {@include header-style(18px, 200, rgba(0,0,0,.8))}
   p {
       letter-spacing:0em;
       @include header-style(14px, 200, rgba(0,0,0,.5));
       margin-bottom:2em;
     }
 }

 #rtm-resin-injection {
   background-color:rgba(225,225,225,.1);
   padding:40px 20px;
   h3 {@include header-style(24px, 100, $time-red)}
     p {
       letter-spacing:0em;
       @include header-style(14px, 200, rgba(0,0,0,.5));
       margin-bottom:1em;
     }

 }

 #rtm-finish {
  height:350px;
  background-image:url('rtm-headtube.jpg');
  //background-image-position-x:-350px;
  background-size:cover;
 }


 #pedal-tech-intro {
   padding:40px 20px ;
   background-color:#000;
   h1 {@include header-style(36px, 100, $time-red)}
   h2 {@include header-style(24px, 100, #fff)}
   p {
     letter-spacing:0em;
     @include header-style(14px, 200, rgba(255,255,255,.5));
     margin-bottom:1em;
   }
 }

 #pedal-tech-road, #pedal-tech-atac {
   padding:60px 20px;
   background-color:lighten(#000, 15%);
   h3 {@include header-style(24px, 100, #fff)}
   p {@include header-style(14px, 200, rgba(255,255,255,.5));}

 }

 #pedal-tech-atac {
   background-color:lighten(#000, 30%);
 }

  #time-pedals {
   padding:60px 20px;
    background-color:#fff;
   h3 {@include header-style(24px, 100, $time-red)}
   p {@include header-style(14px, 200, rgba(0,0,0,.5));}
  }

  ////PEDALS L2 /////////////////////////////////////////////////////////////////

 #pedals-xpresso, #pedals-rxs, #pedals-atac-xc, #pedals-atac-mx, #pedal-atac-dh {
   h3 {@include text-style(16px, 200, $time-red);margin-top:0;}
   img {@include rotate(-45deg);}

   .atac-logo {@include rotate(0deg);}
   padding:40px 20px 20px 20px;
   small {display:block;height:5em;}
   letter-spacing:0em;
   @include text-style(14px, 200, rgba(0,0,0,.5));
   margin-bottom:2em;
   h1 {@include text-style(24px, 100, $time-red);}
   h2 {@include text-style(32px, 100, rgba(0,0,0,.7));}
   p {@include header-style(16px, 200, rgba(0,0,0,.7));}
 }

 #pedal-xpresso-hero {
  min-height:120vh;
 
   background-image:url(Route2-unblur.jpg);
   background-repeat:no-repeat;
   // height:auto;
   background-size:cover;
   background-position-x:50%;
   #pedal-main-txt {
     padding:20px 30px;
     background-color:rgba(0,0,0,.7);
     min-height:120vh;
   }
   h3 {
     @include text-style(20px, 100, #fff);
     line-height:.25em;
     padding:0;
   }
   p {
     @include text-style(16px, 200, rgba(255,255,255,.6));
     margin-top:1em;
   }


 }

 #pedal-atac-hero {
  min-height:120vh;
   background-image:url(pedals-atac-hero.jpg);
   background-size:cover;
   #pedal-main-txt {
     padding:20px 30px;
     background-color:rgba(0,0,0,.7);
     min-height:120vh;
   }
   h3 {
     @include text-style(20px, 100, #fff);
     line-height:.25em;
     padding:0;
   }
   p {
     @include text-style(16px, 200, rgba(255,255,255,.6));
     margin-top:1em;
   }
 }

 #pedal-atac-mx {
     h3 {
     @include text-style(20px, 200, #fff);
     line-height:.25em;
     padding:0;
   }
   p {
     @include text-style(14px, 200, rgba(255,255,255,.5));
     margin-top:1em;
   }
 }

 // DEALERS ////////////////////////////////

 #dealer-top {
  height:300px;
  padding:0;
  background-image:url(contender_6.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:50%;

 }

   #dealers {

   padding:20px 20px;
   h1 {@include header-style(48px, 100, $time-red)}
   h3 {@include header-style(24px, 100, $time-red)}
   p {@include header-style(14px, 200, rgba(0,0,0,.5));}
   .dealer-list {
    height:9em;
   }
  }

#contact {
  padding:0 20px;
}

  .inquiries {

    p {@include text-style(14px, 200, rgba(0,0,0,.5));}
    p {font-size:14px !important;}
    padding:20px 0px 40px 0px;
    label {margin-right:1em;font-weight:200;}
    .control-label {font-family:$light-sans-serif !important;}
    .form-group {padding-bottom:20px;}
    .btn {margin-left:1em;}
    small {margin-left:1em;}
  }

  #contact-sidebar {
    padding:0 20px 20px 20px;
    margin-top:60px;
    #time-2015-catalog {
      width:40%;
      float:right;
      margin:0 0 20px 10px;
      border:5px solid rgba(0,0,0,.02);
    }

  }

  #social-section {
    
    padding:20px;
    background-color:#fcfcfc;
    .social-item {
      padding:20px;
      a .fa {
        color:rgba(0,0,0,.1);
        &:hover {
          color:rgba(0,0,0,.2);
        }
      }
    }
  }

  #email-subscription {
    min-height:400px;
    padding:110px 20px;
    background-image:url(TIME-Factory_FRANCE.jpg);
    background-color:#fcfcfc;
    background-repeat:no-repeat;
      background-size:200%;
    background-position-y:-50px;
    background-position-x:50%;

    input {
      border:1px solid rgba(0,0,0,.3);
    }

  }

  #roland-cattin {
    .lead {@include header-style(14px, 200, rgba(255,255,255,.5));}
    padding:80px 20px ;
    background-color:#000;
  }

  #accessories-top {
    height:300px;
    padding:0;
    background-image:url(accessories.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:50%;
  }

  #accessories-intro {
    padding:20px;
  }

   #pedal-accessories-intro {
    padding:20px;
  }

  #handlebars {
    background-color:rgba(220,220,220,.1);
    padding:20px;
     h1 {@include header-style(48px, 100, $time-red)}
     h2 {@include header-style(24px, 100, $time-red)}
     //border:1px solid red;

    .accessory-title {
      color:#000;
    }
    .accessory-desc {
      color:#000;
    }

  }

  .accessory-title {
      border-right:0px solid black;
      border-bottom:2px solid $time-red;
  }
  .accessory-desc {
          border-left:0px solid $time-red;
        p {padding:20px 0px 20px 0px;}
  }

  #first-main {
    padding:60px 20px;
    height:580px;
    background-image:url(first-bg.jpg);
    background-size:cover;
    h1 {font-weight:700;}
    p.lead {color:black;font-weight:300;padding:0em 0 1em 0;}

  }

    #first-main-contender {
    padding:60px 20px;
    height:680px;
    background-image:url(first-bg.jpg);
    background-size:cover;
    h1 {font-weight:700;}
    p.lead {color:black;font-weight:300;padding:0em 0 1em 0;}
    strong, span {font-size:1.5em;color:$time-red;}
    #contender-logo {margin:20px auto;text-align:center;}

  }

  #first-pr {
    //background-image:url(DSC_0251-first-frame-blur.jpg);
    background-color:#d3d1d5;
    background-size:cover;
    min-height:50vh;
    color:#fff;


    padding:20px 20px;
    blockquote {
      margin-top:20px;
      //background-color:rgba(0,0,0,.3);
      border:1px solid #fff;
      font-size: 1em;
      p {text-shadow: 1px,1px,1px,#000;font-size: 1.5em;color:rgba(0,0,0,.4);}
    }
  }

  #first-specs {
    padding:80px 20px;
    .table {margin:0px 10px;}
    td {border-top:1px dotted rgba(0,0,0,.1);}
    td {
      text-align:center;
      font-size:1.15em;
      color:rgba(0,0,0,.5);


    }

  }

  #first-geo {
    padding:80px 20px;
  }

  #first-gallery {
    #first-gallery-left {
      min-height:800px;
      background-image:url(pics-IMG_2401.jpg);
      background-size:cover;
    }
    #first-gallery-right {
      min-height:350px;
      background-image:url(/assets/pics2-IMG_2375.jpg);
      background-size:130%;
      background-position-x:80%;
      background-repeat:no-repeat;

    }
  }





  #stems, #cleats {
    img {padding:30px;}
  }
  #stems {
    background-color:#000;
    padding:20px;
    h1 {@include header-style(48px, 100, #fff)}
    h2 {@include header-style(24px, 100, #fff)}
    .accessory-title {
      h2, h3 {color:#fff;}
    }
    .accessory-desc {
      p {color:rgba(255,255,255,.6);}
    }

  }

  #cleat-plates {
    padding:20px 20px 40px 20px;
  }


   .page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -350px; 
 }

  .site-footer, .page-wrap:after {
   /* .push must be the same height as footer */
   height: 350px; 
   .tel { font-size:13px;color:rgba(255,255,255,.5);}
   h5 { font-size:16px !important;color:rgba(255,255,255,.6); }
 }

